body {
  background-image: url(./bg-pattern.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.jumbotron {
  margin-top: 10%;
  box-shadow: 0px 0px 20px 3px black;
}

.jumbotron > h1 {
  font-size: 3.2em;
  font-weight: 300;
  line-height: 1.2;
}

td > p {
    display: none;
}

button {
    margin-right: 20px;
}

small {
  display: block;
  text-align: center;
}

footer {
  width: 100%;
  bottom: 0px;
}
